
body{
	
	background-color: #0B1D27;
	width = display;
	/*max-width: 100%;*/
	/*max-width: 1800px;
	width: 100%;*/
	padding: 0 auto;
	margin: 0 auto;
}

 .header-background {
	 
	
 position: relative;
 width: 100%;
  overflow: hidden;
 
 
}

.header-background img {
  
  width: 100%;
  height: auto;
  display: block;
}

.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100%;*/
  width: 100vw;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.main-menu ul {
  list-style: none;
  margin: 25px;
  padding: 0;
}

.main-menu li {
  font-family: Montserrat, sans-serif;
  color: #white;
  font-size: 20px;
  display: inline;
  margin: 0 80px;
}

.main-menu a {
  color: white;
  text-decoration: none;
}



.header-content {
	/*z-index: 1;*/
  position: absolute;
  top: 23em;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header-content h1 {
  margin-bottom: 20px;
  font-size: 3em;
  
  font-family: Montserrat, sans-serif;
    color: white;
    
	text-align: left;
}
h2{
	margin-bottom: 20px;
  font-size: 2em;
  
  font-family: Montserrat, sans-serif;
    color: white;
    
	text-align: left;
	
}

p{
	margin-bottom: 20px;
  font-size: 1em;
  
  font-family: Montserrat, sans-serif;
    color: white;
    
	text-align: left;
	
}

.header-content button[name="1"]{
	font-family: Montserrat, sans-serif;
 
  margin-right:80%;
    padding: 15px 55px;
    font-size: 1.1em;
    background-color: #fcf0ab;
    color: #00121C;
    border: none;
    cursor: pointer;
}



