
.yellow-line {
  height: 2px;
  background-color: gold;
  margin-top: 5px;
}

.travel-text {
  color: #F0E3A0;
  margin-bottom: 10px; 
}
.logo{
	width: 150px; 
    height: auto; 	
	
}
#wrapper {
    position: absolute;
    top: 10px;
    
    z-index: 1;
}

#wrapper img {
  width: 250px;
  height: auto;
}

#avatar {
    position: absolute;
    top: 2em;
    margin-left: 88em;
    z-index: 1;
}

#avatar img {
  width: 60px;
  height: auto;
}

footer {
  display: flex; 
  justify-content: space-around; 
  background-color: #00121C; 
  font-family: Montserrat, sans-serif;
  color: #fff; 
  font-size: 15px; 
  padding: 25px; 
}

footer > div {
  width: 45%;
  box-sizing: border-box; 
  padding: 10px; 
  text-align: left; 
}

.listfoot {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listfoot > li {
  margin-bottom: 10px;
}

.listfoot > li a {
  text-decoration: none;
  color: inherit; 
}

footer h4 {
  margin-bottom: 10px; 
}
