

/* внешние границы таблицы серого цвета толщиной 1px */
.tb {
   border: 0px solid grey;
width: 100%;
width: 600px;
}
/* границы ячеек первого ряда таблицы */
.t1 {
   border: 1px solid grey;
}
/* границы ячеек тела таблицы */
.td1 {
   border: 1px solid grey;
   
}




.ctd {
   text-align:center;
   color:#808080	;

}
.functions{
   color:#C71585;
}
.plain{
	color:#000000;
}

.value{
	color:#2E8B57			;
}
.keyword{
	color:#4169E1		;
}
.string{
	color:#B22222;
}


