

/* внешние границы таблицы серого цвета толщиной 1px */
.tb {
   border: 0px solid grey;
width: 100%;
width: 700px;
}
/* границы ячеек первого ряда таблицы */
.t1 {
   border: 1px solid grey;
}
/* границы ячеек тела таблицы */
.td1 {
   border: 1px solid grey;
   
}




.ctd {
   text-align:center;
   color:#808080	;

}
.functions{
   color:#C71585;
}
.plain{
	color:#000000;
}

.value{
	color:#2E8B57			;
}
.keyword{
	color:#4169E1		;
}
.string{
	color:#B22222;
}
.comment{
	color:#2E8B57;
}
.bool{
	color:#696969	;
}

.double1-border-button {
	left:-2%;
	background-image: url("background1.png");
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 3px solid #87CEFA;
  color: #000000;
  font-family: 'Georgia', sans-serif;
  transition: .4s;
}
.double1-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double1-border-button:hover:after {
  border-color: #87CEFA;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}








.double2-border-button {
	left:0%;
	background-image: url("background1.png");
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 3px solid #87CEFA;
  color: #000000;
  font-family: 'Georgia', sans-serif;
  transition: .4s;
}
.double2-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double2-border-button:hover:after {
  border-color: #87CEFA;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}


